// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
body {
    color: white;
}


/*menu*/

.menu {
    background-color: rgb(36, 35, 35);
    display: none;
}

.muda:hover {
    border: 2px solid rgb(0, 187, 255);
}

.cor-link {
    color: white;
    font-weight: bold;
}

.cor-link:hover {
    color: gray;
}

#background {
    padding: 0;
}

iframe {
    background-color: white;
}


/*properties*/

body {
    background-color: #413e3e;
    min-width: 80px;
}

.icons-comment {
    width: 100px;
    height: 115%;
}

#drop {
    padding-top: 0px;
    margin-top: 0px;
}

.card {
    background-color: rgb(65, 62, 62);
    width: 100%;
    padding-right: 0;
    justify-content: space-around;
}

.icon-button {
    color: white;
    padding: 7px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 7);
    font-size: 15pt;
    background-color: rgb(36, 35, 35);
    font-weight: bold;
    border-radius: 5.5px;
    border: 1px solid black;
}

.icon-button:hover {
    border: 1px solid #86d68a;
}

.cor-button:hover {
    border: 2px solid rgb(0, 187, 255);
}

.st-link a:nth-child(1) {
    margin-left: 4px;
    color: white;
    font-weight: bold;
}

.st-link a:nth-child(1):hover {
    color: rgb(221, 218, 218);
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.block {
    display: block;
}

.nav-color {
    background-color: rgb(36, 35, 35);
}

.block-size {
    min-width: 44%;
    width: auto;
    max-width: 50%;
}

.size-container {
    min-width: 90%;
    width: 100%;
}

.fildcontainer {
    border: 2px solid rgba(207, 197, 197, 0.376);
}

.align-content-center {
    margin: 4px auto 4px 170px;
}

.center {
    text-align: center;
}

.helper {
    margin: auto auto auto 150px;
    text-align: center;
}

.mgl {
    margin: 2px 2px;
}


/* img show */

.imgdefine {
    max-width: 80%;
    width: 100%;
    height: auto;
    margin: 0px auto;
}


/*forms upload*/

.inputformact {
    margin: 2px auto 2px auto;
    padding: 2px auto 2px auto;
    border-color: 1px solid gray;
}


/* comments */

.color-comments {
    color: #0dd60d;
    font-size: 16px;
}

.figure-caption {
    color: #e1e8ee;
}

.comentArea {
    max-width: 100% !important;
}


/* body-comments */


/*new commentarios*/

#comments .container-fluid {
    margin-top: 2vh;
}

.cont-info {
    border-radius: 5px;
    padding: 8px;
    margin-left: 2px;
}

.cover-img {
    margin: 0px auto 0px auto;
    padding: 0px auto 0px auto;
    height: auto;
}

#comments {
    /*...*/
}

.comments {
    max-width: 80%;
    margin: 2px auto;
    text-align: center;
}

.icon {
    width: 25px;
    height: 25px;
    margin-top: 0;
    color: white;
    background-color: white;
}

#information {
    cursor: pointer;
}

.centerlayot {
    text-align: center;
    margin-left: 2px auto;
    color: #28a745;
    font-weight: bold;
    width: 500px;
}

a.dropdown-item {
    color: black !important;
}

.user {
    cursor: pointer;
}

.centerlayot span {
    margin-left: 2px;
}

.centerlayot i {
    margin-right: 3px;
}

.padding-left {
    margin-left: 8vh;
}

.area-coment {
    word-break: break-all;
    width: 90%;
    text-align: justify;
    padding: 6px;
    margin: 0;
    margin: 0px auto;
    background-color: rgba(82, 78, 78, 0.981);
    border: 0.2px solid #28a745;
    border-radius: 9px;
    color: var(--success);
}

.date {
    margin-left: -20%;
    font-size: 1px;
    text-align: center;
    padding-top: 37px;
    color: #27b148;
    font-weight: bold;
}

.date:hover {
    color: #289241;
}

.color-comment {
    background-color: rgb(72, 68, 68);
    border-radius: 10px;
    padding: 2px;
    margin: 2px auto;
}

.circle {
    cursor: zoom-in;
    border: 0.2px solid #28a745;
    box-sizing: border-box;
    box-shadow: 1px 1px 10px rgb(26, 153, 47);
    width: 52%;
    border-radius: 100%;
    visibility: visible;
    transition: all 2s;
}

.circle:hover {
    border-radius: 0%;
}

.circle .col-sm-8 {
    margin-bottom: 1vh;
}


/*fim new comentarios*/

.comentbody {
    width: 80%;
}

.table {
    width: 80% !important;
    height: auto !important;
}

.graph {
    width: 400px;
    word-wrap: normal;
}

.td-body {
    width: 100%;
}

.table td {
    font-weight: bold !important;
    padding-bottom: 15px !important;
    font-size: 18px !important;
    border-color: gray !important;
}

.table th {
    font-weight: bold !important;
    padding-bottom: 15px !important;
    font-size: 18px !important;
    border-color: gray !important;
}

.delComent {
    margin-left: 12px;
}

.table-comments-design {
    border-radius: 6px !important;
    border: 2px solid gray !important;
    box-shadow: 1px 1px 10px black;
    background-color: rgba(44, 41, 41);
}


/*image*/

.imgprofile {
    width: 270px;
    height: auto;
}

table td {
    border-bottom: gray !important;
}

tr {
    width: 100%;
}


/*like*/

.likefmt {
    margin-top: 4px;
    padding: 2px 23px 2px 23px;
}


/*btn search projects*/

.btnLD {
    padding-left: 0px;
    margin-left: 0px;
}

.line-100 {
    width: 100%;
    margin-top: 1px;
    margin-bottom: 1px;
}

.line-100 * {
    margin: 0px auto 2px -1px;
}

.btnLD>button {
    border: 2px solid var(--success);
}

.btn-info {
    font-size: 20pt;
    display: block;
    color: #e1e8ee;
    background-color: #373c42;
}

.btn-info:hover {
    background-color: #313539f7;
    color: #e1e8ee;
}

.btn-info a {
    text-decoration: none;
}

.btn-info a {
    text-decoration: none;
    font-weight: bold;
}

.btn-close {
    display: none;
}

.btn-search {
    border-color: #c8f8c8;
    background-color: #86d68a;
    font: bold;
    color: white;
}


/*format code web file*/

.mincodeweb {
    margin: auto 4px auto 4px;
    border: 2px solid rbga(255, 0, 0, .5);
    border-radius: 7px;
    min-height: 550px;
}

.minCode {
    min-height: 550px;
}


/*user photo*/

.projectNameControll,
.nameControll {
    font-weight: bold;
    font-style: Arial;
    font-size: 26px;
    color: #86d68a;
    margin-top: 1px;
    padding-top: 1px;
}

form {
    color: white;
}

.card-header {
    color: white;
    background-color: rgb(46, 46, 46);
}

.f1 {
    height: 20px;
    padding: 0px;
    height: 40px;
}

.ext {
    color: #86d68a;
    font-size: 15px;
    font-weight: bold;
}

.userThumb {
    width: 45px;
    height: 45px;
    border-radius: 11px;
    margin: 2px auto auto 2px;
    padding: 2px 2px 2px 2px;
    border: 2px solid rgba(110, 148, 158, 0.438);
}

.userThumb:hover {
    border: 2px solid rgb(0, 187, 255);
}


/*file*/

#file {
    padding: 5px 5px 5px 5px;
    margin: 5px auto 5px auto;
}

[type="file"] {
    content: '';
    background-color: transparent;
    display: block;
    box-sizing: border-box;
    box-sizing: content-box;
    width: 380px;
    color: white;
    border: none;
    padding: 4px;
    height: 40px;
    background-color: rgb(58, 55, 55);
}

.file-icon {
    margin-left: 190px;
}

.file {
    border-radius: 10px;
    box-sizing: border-box;
    height: 60px;
}

.file:hover {
    background-color: rgba(70, 63, 63, 0.7);
}


/* process bar width*/

.w-loading-100 {
    width: 600px;
    margin-left: 25px;
}


/* efeito imagens do upload de arquivos */

figure.efect figcaption {
    position: absolute;
    text-align: center;
    top: 25%;
    left: 2%;
    align-items: center;
}


/* from disable*/

.disable {
    pointer-events: none;
}

#commentsScroll {
    background-color: transparent;
    border: none;
    margin: 2px auto;
    border-radius: 8px;
    padding: 8px;
    visibility: visible;
    color: var(--success);
}

.user-mob {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

//github responsive
.github {
    border-radius: 100%;
    background-color: white;
}

#desktop {
    display: none;
}

#mobile {
    display: block;
}

.top-mob {
    padding-top: 0px;
    margin-top: 0px;
}


/* coment video medias */

.comentfixed {
    border: border-box;
    padding: .1px auto .1px auto;
    margin-top: 0px;
}


/*video style*/

.posvideo {
    margin: 0px auto 0px auto;
    padding: 0px;
    border: border-box;
}

.videonorm {
    height: auto;
    padding: 10px auto 0px auto;
    background-color: gray;
}

#siteframe::-webkit-scrollbar {
    display: none;
}

#siteframe::-moz-scrollbar {
    display: none;
}


/*responsive*/

.card-response{
    max-width: 100% !important;
}
/*  */

@media (min-width: 1729px) {
    .cover-img{
        margin: 0px auto 0px auto;
        padding: 0px auto 0px auto;
        height: 1300px;
    }
}
@media (max-width: 1080px) {
    .cover-img{
        margin: 0px auto 0px auto;
        padding: 0px auto 0px auto;
        height: 980px;
    }
}
@media (max-width: 1000px) {
    .cover-img{
        margin: 0px auto 0px auto;
        padding: 0px auto 0px auto;
        height: 750px;
    }
}
@media (max-width: 700px){
    .cover-img{
        margin: 0px auto 0px auto;
        padding: 0px auto 0px auto;
        height: 600px;
    }  
}
@media (max-width: 580px){
    .cover-img{
        margin: 0px auto 0px auto;
        padding: 0px auto 0px auto;
        height: 492px;
    }  
}
@media (max-width:520px) {
    .cover-img{
        margin: 0px auto 0px auto;
        padding: 0px auto 0px auto;
        height: 390px;
    }
}
@media (max-width:404px) {
    .cover-img{
        margin: 0px auto 0px auto;
        padding: 0px auto 0px auto;
        height: 290px;
    }
}

@media (max-width:779px) {

    ul li {
        list-style-type: none !important;
        text-decoration: none !important;
        text-transform: none !important;
    }
    #header-nav {
        display: none;
    }
    .card{
        margin-left: 0;
    }
    .border-container{
        max-width: 100%;
        width: 100%;
    }
    .lef {
        margin: auto auto auto 10px;
    }
    .helper {
        margin: auto auto auto 40px;
        text-align: center;
    }
    p.center-responsive {
        padding: 2px 2px 2px 2px;
        text-align: center;
        border-color: rgba(207, 197, 197, 0.074);
    }
    .w-loading-100 {
        width: 96%;
        margin: auto 2% auto 2%;
    }
    .btnLD>button {
        width: auto;
    }
}

@media (min-width:1200px) {
    #desktop {
        display: block;
    }
    #mobile {
        display: none;
    }
    .menu {
        display: none !important;
    }
    .width {
        width: 500px;
    }
    .icons-comment {
        width: 100px;
    }
    .icons-comment {
        padding-left: 2px;
    }
    ul li {
        list-style-type: none !important;
        text-decoration: none !important;
        text-transform: none !important;
    }
}

@media (max-width:575px) {
    ul li {
        list-style-type: none !important;
        text-decoration: none !important;
        text-transform: none !important;
    }
    .block-size {
        margin-left: 0px;
        min-width: 99%;
        width: auto;
        max-width: 100%;
    }
    .w-loading-100 {
        width: 93%;
        margin: auto 5% auto 2%;
    }
}

@media (min-width:575px) and (max-width:670px) {
    figure.efect figcaption {
        top: 16%;
        left: 2%;
    }
    .btnLD>button {
        width: auto;
    }
    ul li {
        list-style-type: none !important;
        text-decoration: none !important;
        text-transform: none !important;
    }
}

@media (max-width:350px) {
    .btnLD>button {
        width: auto;
    }
    figure.efect figcaption {
        display: none;
    }
    .block-size {
        margin-left: 0px;
        min-width: 89%;
        width: auto;
        max-width: 91%;
    }
    .img-size {
        width: 250px;
        height: 290px;
        border: border-box;
    }
    ul li {
        list-style-type: none !important;
        text-decoration: none !important;
        text-transform: none !important;
    }
}

ul li {
    list-style-type: none !important;
    text-decoration: none !important;
    text-transform: none !important;
}

@media (min-width: 1366) and (min-height:768px) {
    input {
        width: 550px;
        height: 90px;
    }
}


/* efeitos */

.writer::after {
    content: '';
    animation: cursor 2s infinite;
}

@keyframes cursor {
    0% {
        content: ".";
    }
    50% {
        content: "..";
    }
    80% {
        content: "...";
    }
    100% {
        content: "";
    }
}

.dropdown-item {
    color: black;
}