// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
/*menu*/
.menu{
   background-color: red;
   display: none;
}

/*properties*/
body {
    background-color: white;
    min-width: 80px;
}
.icons-comment{
    width: 100px;
    height: 115%;
}
#drop{
    padding-top: 0px;
    margin-top: 0px;
}
.icon-button{
	color: white;
	padding: 7px;
	text-shadow: 2px 2px 10px rgb(255, 0, 0);
	font-size: 15pt;
	background-color: red;
	font-weight: bold;
	border-radius: 5.5px;
	border: 1px solid red;
}
.st-link a:nth-child(1){
    margin-left: 4px;
    color: white;
    font-weight: bold;
}
.st-link a:nth-child(1):hover{
    color: rgb(221, 218, 218);
}
.flex{
    display: flex; 
    flex-wrap: wrap;
}
.block{
    display: block;
}
.nav-color{
    background-color: red;
}
.block-size{
    min-width: 44%;
    width: auto;
    max-width: 45%;
}
.size-container{
    min-width: 90%;
    width: 100%;
}
.fildcontainer{
    border: 2px solid rgba(207, 197, 197, 0.376);
}
.align-content-center{
    margin: 4px auto 4px 170px;
}
.center{
    text-align: center;   
}
.helper{
    margin: auto auto auto 150px;
    text-align: center;
}
/* img show */
.imgdefine{
    width: 100%;
    height: auto;
    margin: auto 7px auto 7px;
}
/*forms upload*/
.inputformact{
    margin: 2px auto 2px auto;
    padding: 2px auto 2px auto;
    border-color: 1px solid gray;
}
/*image*/
.imgprofile{  
    width: 270px;
    height: auto;
}
/*btn search projects*/
.btnLD{
    padding-left: 0px;
    margin-left: 0px;
}
.btnLD > button {
    border: 2px solid --success;
}
.btn-search{
    border-color: #c8f8c8;
    background-color: #86d68a;
    font: bold;
    color: white;
}
/*format code web file*/
.mincodeweb{
    margin: auto 4px auto 4px;
    border: 2px solid rbga(255,0,0,.5);
    border-radius:7px;
    min-height: 550px;
}
.minCode{
    min-height: 550px;
}
/*user photo*/
.projectNameControll, .nameControll{
    font-weight: bold;
    font-style: Arial;
    font-size: 24px;
}
.ext{
    font-size: 10px;
    font-weight: bold;
}

.userThumb{ 
     width: 55px;
     height: 55px;
     border-radius: 11px;
     margin: 7px auto auto 3px;
     padding: 5px 5px 5px 5px;
     border: 2px solid rgba(110, 148, 158, 0.438);
 }
.userThumb:hover{
    border: 2px solid rgb(0, 187, 255);
}
/*file*/
#file{
    padding: 5px 5px 5px 5px;
    margin: 5px auto 5px auto;
}
.file{
    border-radius: 10px;
    width: 380px;
    height: 60px;            
 }
.file:hover{
    background-color: rgba(70, 63, 63, 0.7);                                                                                    
} 
/* process bar width*/
.w-loading-100{
   width: 600px;
   margin-left: 25px;
} 
/* efeito imagens do upload de arquivos */
figure.efect figcaption {
   position: absolute;
   text-align: center;
   top: 25%;
   left: 2%;
   align-items: center;
}
/* from disable*/
.disable{
    pointer-events: none;
}
.user-mob{
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.top-mob{
    padding-top: 0px;
    margin-top: 0px;
}
/* coment video medias */
.comentfixed{
    border: border-box;
    padding: .1px auto .1px auto;
    margin-top: 0px;    
}
/*video style*/
.posvideo{
    margin: 0px auto 0px auto;
    padding: 0px;
    border: border-box;
}
.videonorm{
    height: auto; 
    padding: 10px auto 0px auto;
    background-color: gray;
}
 #siteframe::-webkit-scrollbar{
    display: none;
}
#siteframe::-moz-scrollbar{
    display: none;
}
/*responsive*/
@media (max-width:779px){     
    ul li {
        list-style-type: none !important;
        text-decoration: none !important;
        text-transform: none !important;
    }
    #header-nav{
        display: none;
    } 
    .lef {
        margin: auto auto auto 10px;
    }
    .helper{
        margin: auto auto auto 40px;
        text-align: center;
    }
    p.center-responsive{
        padding: 2px 2px 2px 2px;
        text-align: center;
        border-color: rgba(207, 197, 197, 0.074);
    }
    .w-loading-100{
        width: 96%;
        margin: auto 2% auto 2%;
    } 
    .btnLD > button {
        width: 85px;
    }
}
@media (min-width:992px) {
    .menu{
        display: none !important;
    }
    .width{
        width: 500px;
    }
    .icons-comment{
        width: 100px;
    }
    .icons-comment{
        padding-left: 2px;
    }      
    ul li {
        list-style-type: none !important;
        text-decoration: none !important;
        text-transform: none !important;
    }
}
@media (max-width:575px) {
    ul li {
        list-style-type: none !important;
        text-decoration: none !important;
        text-transform: none !important;
    }
    .block-size{
        margin-left: 0px;
        min-width: 99%;
        width: auto;
        max-width: 100%;
    }
    .w-loading-100{
        width: 93%;
        margin: auto 5% auto 2%;
    }
}
@media (min-width:575px) and (max-width:670px){

        figure.efect figcaption {
            top: 16%;
            left: 2%;  
        }
        .btnLD > button {
            width: 85px;
        }
        ul li {
            list-style-type: none !important;
            text-decoration: none !important;
            text-transform: none !important;
        }
}
@media (max-width:350px){
    .btnLD > button {
        width: 85px;
    }
    figure.efect figcaption {
       display: none; 
    }
    .block-size{
        margin-left: 0px;
        min-width: 89%;
        width: auto;
        max-width: 91%;
    }   

    .img-size{
        width: 250px;
        height: 290px;
        border: border-box;
    }
    ul li {
        list-style-type: none !important;
        text-decoration: none !important;
        text-transform: none !important;
    }
}
ul li {
    list-style-type: none !important;
    text-decoration: none !important;
    text-transform: none !important;
}

@media (min-width: 1366) and (min-height:768px) {
    body{
        background-color: green;
    }
}
