@import url(https://fonts.googleapis.com/css?family=Nunito);

.creator {
    color: #D3D3D3;
    font-size: 12px;
}

.teste {
    background-color: #00bc8c;
    color: #303030;
    padding: 8px 20px;
    border-radius: 8%;
}

.lef {
	margin-left: 12px;
}

.mgr {
    margin-right: 2%;
}

.card-deck {
    margin-left: 2%;
}

.mgl {
    margin-left: 3%;
}

.btns {
    width: 80px; 
    border-radius: 5px;
    margin-bottom: 15%;
}

.userThumb {
    border-radius: 10%;
    width: 45px;
    height: 45px;
}

.profileThumbHome{
    width: 16%;

}

.imgDefine{
	height: 40px;
	width: 40px;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

.total {
    margin-top: 40px;
    min-width: 26em; 
    max-width: 26em;
}

.projectNameControll {
    color: #DCDCDC;
    font-size: 18px;
    font-weight: bold;
}

.nameControll {
    color: #B4CDCD;
    font-size: 14px;
    position: absolute;
}

.fs {
    font-size: 24px;
    overflow: hidden;
}

.fontIcon{
    margin-right: 4px;
}

.project-icon {
    border-bottom: solid;
    border-width: 4px;
}

.border-card-1 {
    border-color: #32CD32;
}

.border-card-2 {
    border-color: #CD3333;
}

.border-card-3 {
    border-color: #40E0D0;
}

.fontList1{
    font-size: 35px;
    color: #32CD32;
}

.fontList2{
    font-size: 35px;
    color: #CD3333;
}

.fontList3{
    font-size: 35px;
    color: #40E0D0;
}

.likesControll {
    color: white;
    background-color: black;
    margin-top: 0.4em;
    padding: 6px;
    border-radius: 5px;
    margin-right: 3%;
}

.cover {
  object-fit: cover;
  height: : 218.5px;
}

#imgCardRI {
	height: 13em;
}


.img-resposive, .embed-responsive {
    width: 75%;
    margin-left: 2.5%;
    margin-right: 1.5%;
    margin-bottom: 2%;
}

.codeExib {
    background-color: lightgrey;
    height: 800px;
    width: 70%;
    margin: 0% 4%;

}

.imgdefine {
    max-height: 800px;
}

.comentArea {
    background-color: #303030;
    width: 20%;
    margin-bottom: 2%;
    overflow: auto;
    height: 800px;
}

.userComent {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.comentArea {
    color: lightgrey;
    font-size: 14px;
}   

.comentDate{
    color: #00bc8c;
    font-size: 12px;
    float: right;
}

.formsEdit {
    width: 280px; 
    height: 280px;
}



#description {
    padding-bottom: 2%;
    font-size: 16px;
    color: #DCDCDC;
}


.firstDiv{
    width: 55%;
}

.dvShow{
    width: 18%;
}

.dvDados{
    width: 17.2%;
}

.dvButtons{
    margin-right: 1%;
}

.clb {
    clear: both;
}

h4 {
    color: #838B8B;
}

.btnLike {
    margin-right: 11%;
}

.btnLD {
    margin-top: 5%;
}

.txtPerson {
    width: 100%;
    margin-bottom: 4%;
}

/* PROFILE */
.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background-color: #303030;
}
.profile-img{
    text-align: center;
}

.marginProfile{
    margin-top: 6%;
}

.userInfo {
    margin-top: -15%;
}

.profile-img img{
    width: 70%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h4{
    color: white;
}
.profile-head h6{
    color: #00bc8c;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}



{
  font-family: 'PT Sans Caption', sans-serif, 'arial', 'Times New Roman';
}
/* Error Page */
    .error .clip .shadow
    {
        height: 180px;  /*Contrall*/
    }
    .error .clip:nth-of-type(2) .shadow
    {
        width: 130px;   /*Contrall play with javascript*/ 
    }
    .error .clip:nth-of-type(1) .shadow, .error .clip:nth-of-type(3) .shadow
    {
        width: 250px; /*Contrall*/
    }
    .error .digit
    {
        width: 150px;   /*Contrall*/
        height: 150px;  /*Contrall*/
        line-height: 150px; /*Contrall*/
        font-size: 120px;
        font-weight: bold;
    }
    .error h2   /*Contrall*/
    {
        font-size: 32px;
    }
    .error .msg /*Contrall*/
    {
        top: -190px;
        left: 30%;
        width: 80px;
        height: 80px;
        line-height: 80px;
        font-size: 32px;
    }
    .error span.triangle    /*Contrall*/
    {
        top: 70%;
        right: 0%;
        border-left: 20px solid #535353;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
    }


    .error .container-error-404
    {
      margin-top: 10%;
        position: relative;
        height: 250px;
        padding-top: 40px;
    }
    .error .container-error-404 .clip
    {
        display: inline-block;
        transform: skew(-45deg);
    }
    .error .clip .shadow
    {
        
        overflow: hidden;
    }
    .error .clip:nth-of-type(2) .shadow
    {
        overflow: hidden;
        position: relative;
        box-shadow: inset 20px 0px 20px -15px rgba(150, 150, 150,0.8), 20px 0px 20px -15px rgba(150, 150, 150,0.8);
    }
    
    .error .clip:nth-of-type(3) .shadow:after, .error .clip:nth-of-type(1) .shadow:after
    {
        content: "";
        position: absolute;
        right: -8px;
        bottom: 0px;
        z-index: 9999;
        height: 100%;
        width: 10px;
        background: linear-gradient(90deg, transparent, rgba(173,173,173, 0.8), transparent);
        border-radius: 50%;
    }
    .error .clip:nth-of-type(3) .shadow:after
    {
        left: -8px;
    }
    .error .digit
    {
        position: relative;
        top: 8%;
        color: white;
        background: #07B3F9;
        border-radius: 50%;
        display: inline-block;
        transform: skew(45deg);
    }
    .error .clip:nth-of-type(2) .digit
    {
        left: -10%;
    }
    .error .clip:nth-of-type(1) .digit
    {
        right: -20%;
    }.error .clip:nth-of-type(3) .digit
    {
        left: -20%;
    }    
    .error h2
    {
        color: #A2A2A2;
        font-weight: bold;
        padding-bottom: 20px;
    }
    .error .msg
    {
        position: relative;
        z-index: 9999;
        display: block;
        background: #535353;
        color: #A2A2A2;
        border-radius: 50%;
        font-style: italic;
    }
    .error .triangle
    {
        position: absolute;
        z-index: 999;
        transform: rotate(45deg);
        content: "";
        width: 0; 
        height: 0; 
    }

/* Error Page */
@media(max-width: 767px)
{
    /* Error Page */
            .error .clip .shadow
            {
                height: 100px;  /*Contrall*/
            }
            .error .clip:nth-of-type(2) .shadow
            {
                width: 80px;   /*Contrall play with javascript*/ 
            }
            .error .clip:nth-of-type(1) .shadow, .error .clip:nth-of-type(3) .shadow
            {
                width: 100px; /*Contrall*/
            }
            .error .digit
            {
                width: 80px;   /*Contrall*/
                height: 80px;  /*Contrall*/
                line-height: 80px; /*Contrall*/
                font-size: 52px;
            }
            .error h2   /*Contrall*/
            {
                font-size: 24px;
            }
            .error .msg /*Contrall*/
            {
                top: -110px;
                left: 15%;
                width: 40px;
                height: 40px;
                line-height: 40px;
                font-size: 18px;
            }
            .error span.triangle    /*Contrall*/
            {
                top: 70%;
                right: -3%;
                border-left: 10px solid #535353;
                border-top: 8px solid transparent;
                border-bottom: 8px solid transparent;
            }
.error .container-error-404
  {
    height: 150px;
  }
        /* Error Page */
}

/*--------------------------------------------Framework --------------------------------*/

.overlay { position: relative; z-index: 20; } /*done*/
    .ground-color { background: white; }  /*done*/
    .item-bg-color { background: #EAEAEA } /*done*/
    
    /* Padding Section*/
        .padding-top { padding-top: 10px; } /*done*/
        .padding-bottom { padding-bottom: 10px; }   /*done*/
        .padding-vertical { padding-top: 10px; padding-bottom: 10px; }
        .padding-horizontal { padding-left: 10px; padding-right: 10px; }
        .padding-all { padding: 10px; }   /*done*/

        .no-padding-left { padding-left: 0px; }    /*done*/
        .no-padding-right { padding-right: 0px; }   /*done*/
        .no-vertical-padding { padding-top: 0px; padding-bottom: 0px; }
        .no-horizontal-padding { padding-left: 0px; padding-right: 0px; }
        .no-padding { padding: 0px; }   /*done*/
    /* Padding Section*/

    /* Margin section */
        .margin-top { margin-top: 10px; }   /*done*/
        .margin-bottom { margin-bottom: 10px; } /*done*/
        .margin-right { margin-right: 10px; } /*done*/
        .margin-left { margin-left: 10px; } /*done*/
        .margin-horizontal { margin-left: 10px; margin-right: 10px; } /*done*/
        .margin-vertical { margin-top: 10px; margin-bottom: 10px; } /*done*/
        .margin-all { margin: 10px; }   /*done*/
        .no-margin { margin: 0px; }   /*done*/

        .no-vertical-margin { margin-top: 0px; margin-bottom: 0px; }
        .no-horizontal-margin { margin-left: 0px; margin-right: 0px; }

        .inside-col-shrink { margin: 0px 20px; }    /*done - For the inside sections that has also Title section*/ 
    /* Margin section */

    hr
    { margin: 0px; padding: 0px; border-top: 1px dashed #999; }
/*--------------------------------------------FrameWork------------------------*/

